.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
}

.logo {
  width: 500px;
  height: 500px;
  position: relative;
}

.discription {
  text-align: center;
  position: relative;
  margin-top: -100px;
  color: rgb(0, 0, 0, 0.7);
  line-height: 20px;
}

.link {
  color: #0070f3;
  text-decoration: underline;
}

.searchSection {
  width: 100%;
  max-width: 520px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.inputContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.isFollowed {
  width: 100%;
  margin-top: 10px;
}

.error {
  width: 100%;
  color: rgb(160, 101, 101);
  margin-top: 10px;
}

.listsContainer {
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}

.loadingButton {
  margin-left: 15px;
  height: 55px;
}

.list {
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 3rem;
  width: 300px;
  height: 500px;
}

.followList {
  overflow: auto;
  width: 250px;
  height: 100%;
  flex: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.subtitle {
  font-size: medium;
  margin-bottom: 10px;
}

.textField {
  flex: auto;
  width: 100%;
  text-align: center;
}

.user {
  display: flex;
  margin: 0.7rem;
  justify-content: left;
  align-items: center;
}

.avatar {
  margin-right: 1rem;
}

.userAddress {
  font-weight: bold;
}

@media (max-width: 500px) {
  .logo {
    width: 325px;
    height: 325px;
  }

  .discription {
    margin-top: -50px;
  }
}
